    <div class="container">
            <div class="row">
        
                <!-- <ul class="nav">
                    
                    <li class="nav-item">
                        <a [routerLink]="['home']" routerLinkActive="active" 
                        class="btn btn-light" role="button">Product List</a>
                    </li>
                    <li class="nav-item">
                        <a [routerLink]="['add-product']" routerLinkActive="active" 
                        class="btn btn-light" role="button">Add Product</a>
                    </li>
                    <li class="nav-item">
                        <a [routerLink]="['login']" routerLinkActive="active" 
                        class="btn btn-light" role="button">Login</a>
                    </li>
                    <li class="nav-item">
                        <a [routerLink]="['signup']" routerLinkActive="active" 
                        class="btn btn-light" role="button">Register</a>
                    </li>
                </ul>
                <hr>
            </div>   -->
            </div>
            <!-- <app-navbar></app-navbar>
            <app-login></app-login>
            <app-signup></app-signup>
            <app-navbar></app-navbar> -->
            <app-notifications></app-notifications>
            <app-navbar></app-navbar>
            <router-outlet></router-outlet> 
            
            <!-- <app-signup></app-signup> -->
<!-- <app-product-list></app-product-list> -->
